# Get your token with @BotFather in Telegram
TELEGRAM_BOT_TOKEN=

# Alerts every 20 minutes: your Chat ID (obtain with @userinfobot) and limit in soles (e.g., 3.40 = notify if purchase < 3.40)
TELEGRAM_CHAT_ID=
PRICE_LIMIT=